<form>
  <ion-view title="DASHBOARD" animation="slide-right-left-ios7">

<!--     <ion-nav-buttons side="right">
      <button class="button button-stable" ui-sref="app.campeonato-novo">NOVO</button>
    </ion-nav-buttons>   -->

    <ion-content style="margin-bottom: -1px !important;">
    <!--<ion-refresher on-refresh="doRefresh()"></ion-refresher>-->
<!--         <div class="item item-text-wrap center" ng-show="processing">
          <div class="spinner-loader" ></div>
        </div>    -->      

      <div class="list card">
          <a class="item item-avatar" href="#">
            <img src="img/icons/em_estoque.png">
            <h2>Em Estoque</h2>
            <p>Patrimônios em Estoque: 456</p>
          </a>
      </div>

      <div class="list card">
          <a class="item item-avatar" href="#">
            <img src="img/icons/em_manutencao.png">
            <h2>Em Manutenção</h2>
            <p>Patrimônios em Manutenção: 129</p>
          </a>
      </div>

      <div class="list card">
          <a class="item item-avatar" href="#">
            <img src="img/icons/check.png">
            <h2>Entregue</h2>
            <p>Patrimônios em Uso: 124</p>
          </a>
      </div>


      <div class="list card">
          <a class="item item-avatar" href="#">
            <img src="img/icons/excluidos.png">
            <h2>Excluídos</h2>
            <p>Patrimônios Excluídos: 124</p>
          </a>
      </div>

      <div class="list card">
          <a class="item item-avatar" href="#">
            <img src="img/icons/roubado.png">
            <h2>Roubados</h2>
            <p>Patrimônios Roubados: 144</p>
          </a>
      </div>
      
        
      </ion-content>
    </ion-view>
  </form>