<form>
  <ion-view title="FUNCIONÁRIOS" animation="slide-right-left-ios7">

    <ion-nav-buttons side="right">
      <button class="button button-stable" ui-sref="app.campeonato-novo">NOVO</button>
    </ion-nav-buttons>  

    <ion-content style="margin-bottom: -1px !important;">
    <!--<ion-refresher on-refresh="doRefresh()"></ion-refresher>-->
<!--         <div class="item item-text-wrap center" ng-show="processing">
          <div class="spinner-loader" ></div>
        </div>    -->      

<!-- <div class="button-bar">
  <a class="button">Ativos</a>
  <a class="button">Desligados</a>
</div> -->

<div class="list">
  <a class="item" ui-sref="app.funcionarios">Rodrigo Moraes</a>
  <a class="item" ui-sref="app.funcionarios">João Victor</a>
  <a class="item" ui-sref="app.funcionarios">Bruno Campos</a>
  <a class="item" ui-sref="app.funcionarios">Gabriel Lisboa</a>
  <a class="item" ui-sref="app.funcionarios">Erik Marques</a>
  <a class="item" ui-sref="app.funcionarios">Rodrigo Moraes</a>
  <a class="item" ui-sref="app.funcionarios">João Victor</a>
  <a class="item" ui-sref="app.funcionarios">Bruno Campos</a>
  <a class="item" ui-sref="app.funcionarios">Gabriel Lisboa</a>
  <a class="item" ui-sref="app.funcionarios">Erik Marques</a>
  <a class="item" ui-sref="app.funcionarios">Rodrigo Moraes</a>
  <a class="item" ui-sref="app.funcionarios">João Victor</a>
  <a class="item" ui-sref="app.funcionarios">Bruno Campos</a>
  <a class="item" ui-sref="app.funcionarios">Gabriel Lisboa</a>
  <a class="item" ui-sref="app.funcionarios">Erik Marques</a>
</div>







</ion-content>
</ion-view>
</form>