<ion-modal-view class="modal">
  <ion-header-bar class="bar bar-header bar-assertive disable-user-behavior">
    <h1 class="title">Status do Cadastro</h1>
    <button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeModal(2)"></button>
  </ion-header-bar>
  <ion-content class="padding scroll-content ionic-scroll  has-header timeline_body">

    <div id="miranda">
      <div class="card">
        <p>
          Seu cadastro esta bloqueado devido a pendencias financeiras, regularize-se agora ligando para 0800-08000800 ou enviando um email para financeiro@giganti.bom.br.
        </p>
      </div>

      <p class="ploacked">
        <img class="locked pulse" src="img/locked.png">
      </p>
    </div>  

  </ion-content>
</ion-modal-view>

<style>
.ploacked{
  text-align: center;
  margin-top:10%;
}
</style>