<form name="userForm" ng-submit="save(user)" novalidate>
<ion-view title="Cadastro" class="padding">
  <ion-content style="margin-bottom:80px !important;">
    <div class="list list-inset" style="margin-bottom:200px !important;">
      <form name="userForm" ng-submit="save(user)" novalidate>
      
        <div class="item item-divider">Dados Pessoais</div>
  

              <label class="item item-input input-transparent"  ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <input type="text" name="name" placeholder="Nome Completo" ng-model="user.Nome" required>
              </label>
              <p ng-show="userForm.name.$invalid && !userForm.name.$pristine " class="help-block">Seu nome é obrigatório</p>


              <label class="item item-input input-transparent" ng-class="{ 'has-error' : userForm.cpf.$invalid && !userForm.cpf.$pristine }">
                <input type="tel" name="cpf" placeholder="CPF" ng-model="user.CPF" mask="999.999.999-99" Restrict="reject" required>
              </label>
              <p ng-show="userForm.cpf.$invalid && !userForm.cpf.$pristine " class="help-block">CPF inválido</p>


              <label class="item item-input input-transparent" ng-class="{ 'has-error' : userForm.rg.$invalid && !userForm.rg.$pristine }">
                <input type="tel" name="rg" placeholder="RG" ng-model="user.RG" required>
              </label>
              <p ng-show="userForm.rg.$invalid && !userForm.rg.$pristine " class="help-block">Seu RG é obrigatório</p>


              <label class="item item-input input-transparent" ng-class="{'has-error': userForm.dt_nascimento.$invalid && !userForm.dt_nascimento.$pristine}">
                <span class="input-label">Data Nascimento</span>
                <input name="dt_nascimento" type="date" placeholder="Data de Nascimento" ng-model="user.DataNascimento" required>
              </label>
              <p ng-show="userForm.dt_nascimento.$invalid && !userForm.dt_nascimento.$pristine " class="help-block">Informe sua data de Nascimento</p>


              <label class="item item-input input-transparent" ng-class="{'has-error':userForm.celular.$invalid && !userForm.celular.$pristine}">
                <input type="tel" name="celular" placeholder="Celular" ng-model="user.Celular" mask="(99) 9?9999-9999" Restrict="reject">
              </label>
              <p ng-show="userForm.celular.$invalid && !userForm.celular.$pristine" class="help-block">Informe seu celular</p>

              <label class="item item-input input-transparent" ng-class="{'has-error': userForm.email.$invalid && !userForm.email.$pristine}">
                <input type="email" name="email" placeholder="E-mail" ng-model="user.Email">
              </label>  
              <p ng-show="userForm.email.$invalid && !userForm.email.$pristine " class="help-block">Informe um e-mail válido</p>

        <div class="item item-divider">Localização</div>

            <label class="item item-input input-transparent item-select" ng-class="{'has-error': userForm.estado.$invalid && !userForm.estado.$pristine}">
              <div class="input-label">Estado</div>
              <select name="estado" placeholder="Estado" ng-model="user.UF" required >  
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amazonas</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
              </select>
            </label>
            <p ng-show="userForm.estado.$invalid && !userForm.estado.$pristine " class="help-block">Informe um estado</p>

            <label class="item item-input input-transparent" ng-class="{'has-error': userForm.cidade.$invalid && !userForm.cidade.$pristine}">
                <input name="cidade" type="text" placeholder="Cidade" ng-model="user.Cidade" required>
            </label>
            <p ng-show="userForm.cidade.$invalid && !userForm.cidade.$pristine " class="help-block">Informe uma cidade</p>

            <label class="item item-input input-transparent" ng-class="{'has-error': userForm.endereco.$invalid && !userForm.endereco.$pristine}">
              <input name="endereco" type="text" placeholder="Endereço Completo" ng-model="user.Endereco" required>
            </label>
            <p ng-show="userForm.endereco.$invalid && !userForm.endereco.$pristine " class="help-block">Informe seu endereço</p>

            <label class="item item-input input-transparent" ng-class="{'has-error': userForm.bairro.$invalid && !userForm.bairro.$pristine}">
              <input name="bairro" type="text" placeholder="Bairro" ng-model="user.Bairro" required>
            </label>
            <p ng-show="userForm.bairro.$invalid && !userForm.bairro.$pristine " class="help-block">Informe seu bairro</p>


            <label class="item item-input input-transparent" ng-class="{'has-error': userForm.cep.$invalid && !userForm.cep.$pristine}">
              <input type="tel" name="cep" placeholder="CEP" ng-model="user.cep" mask="99999-999" required>
            </label>
            <p ng-show="userForm.cep.$invalid && !userForm.cep.$pristine " class="help-block">Informe seu CEP</p>



        <div class="item item-divider">Dados da Moto</div>

            <label class="item item-input input-transparent"  ng-class="{'has-error': userForm.modelo.$invalid && !userForm.modelo.$pristine}">
              <input name="modelo" type="text" placeholder="Modelo" ng-model="user.ModeloMoto" required>
            </label>
            <p ng-show="userForm.modelo.$invalid && !userForm.modelo.$pristine " class="help-block">Informe o modelo</p>


            <label class="item item-input input-transparent" ng-class="{'has-error': userForm.placa.$invalid && !userForm.placa.$pristine}">
              <input type="text" name="placa" placeholder="Placa" ng-model="user.PlacaMoto" mask="@@@-9999" Restrict="reject" required>
            </label>
            <p ng-show="userForm.placa.$invalid && !userForm.placa.$pristine " class="help-block">Informe a placa</p>


            <label class="item item-input input-transparent" ng-class="{'has-error': userForm.anoMoto.$invalid && !userForm.anoMoto.$pristine}">
              <input type="tel" name="anoMoto" placeholder="Ano" ng-model="user.AnoMoto" mask="2999" Restrict="reject" required> 
            </label> 
            <p ng-show="userForm.anoMoto.$invalid && !userForm.anoMoto.$pristine " class="help-block" style="margin-bottom:100px !important;  ">Informe o ano da moto</p>
     </div>




  </ion-content>
</ion-view>

<div class="bar bar-footer no-bgColor" style="height:75px;">
<!--   <input class="button button-default2 button-block" ng-disabled="userForm.$invalid" type="submit" value="PRÓXIMA ETAPA" style="margin:5px 10px 0 10px; height:55px;">
 -->  <input class="button button-default2 button-block" type="submit" value="PRÓXIMA ETAPA" style="margin:5px 10px 0 10px; height:55px;">



</div>
</form>
