<ion-nav-bar class="bar-stable nav-title-slide-ios7">
  <ion-nav-back-button class="button-clear">
    <i class="icon ion-ios7-arrow-back"></i>
  </ion-nav-back-button>
</ion-nav-bar>

<div class="back-start">

<ion-nav-view>
<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar disable-user-behavior  no-animation">
  <ion-nav-back-button class="button-clear button back-button ng-hide">
    <i class="icon ion-ios7-arrow-back"></i>
  </ion-nav-back-button>
<div class="buttons left-buttons"> </div><h1 ng-bind-html="title" class="title ng-binding">Esqueceu sua senha?</h1><div class="buttons right-buttons"> </div></ion-nav-bar>

<div class="back-start" style="background: url('img/bg-taxi-home.png');">
  <ion-nav-view name="seguranca" animation="slide-left-right">

  <ion-view class="padding back-start pane">
    <ion-content class="scroll-content ionic-scroll  has-header">

    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">

      <p style="color:#fff !important; font-size:30px; font-wwight:bold; text-align:center; margin-top:80px;"><img src="img/logo_m1.png" style="width:150px;"></p>

     </div>

    <div class="scroll-bar scroll-bar-v">

    <div class="scroll-bar-indicator scroll-bar-fade-out" style="height: 0px; transform: translate3d(0px, 0px, 0px) scaleY(1);">
    </div>
  </div>
</ion-content>
  </ion-view>

  <div class="bar bar-footer no-bgColor footer-transparent" style="height:100px !important;">

<div class="row" style="margin-bottom:20px;">
  <div class="col">

    <input class="button button-stable button-block btn-footer-all" type="submit" ui-sref="seguranca.login  " value="ENTRAR">



  </div>
  <div class="col" style="margin-right: 20px;">


    <input type="submit" ui-sref="seguranca.register1"  class="button button-positive button-block btn-footer-all" value="REGISTRAR">



    </div>

</div>




  </div>

</ion-nav-view>
</div></ion-nav-view>



</div>