<ion-modal-view class="modal ">
  <ion-header-bar class="bar bar-header bar-stable disable-user-behavior">
    <h1 class="title">TERMOS DE USO</h1>
    <button class="button button-icon button-clear ion-ios-close-empty" ng-click="modal.hide()"></button>
  </ion-header-bar>
  <ion-content class="padding scroll-content ionic-scroll  has-header"><div class="scroll" style="-webkit-transform: translate3d(0px, 0px, 0px) scale(1);">

    <div class="termos-de-uso">


<h4 class="text-center">Introdução</h4>
<p>

<p>Bem-vindo ao aplicativo e website da 99Taxis! Por favor, certifique-se de ter lido e entendido os “Termos de Uso” e “Política de Privacidade”, doravante denominados “Termos”, que consistem em “Contrato” firmado entre a “99Taxis” – 99Taxis Desenvolvimento de Softwares Ltda CPNJ: 18.033.552/0001-61 e o “Usuário” após a manifestação do “Aceite”. O Aceite dos Termos é indispensável para qualquer forma de utilização do “Website” www.99taxis.com e do “Aplicativo” 99Taxis disponível na Apple App Store, no Google Play e na Windows Phone Store, em conjunto denominados “Aplicativos”. O cadastro como Usuário e/ou utilização do Website é proibido para qualquer pessoa juridicamente incapaz ou que não acorde plenamente com todos os Termos.</p>

<p>Os Termos vinculam legalmente o Usuário com relação aos atuais ou novos serviços oferecidos pela 99Taxis.</p>

<p>Pelo cadastramento como Usuário e/ou utilização dos Aplicativos ou Serviços de qualquer maneira, o Usuário, independente de utilizar ou não o serviço, concorda em se vincular e cumprir os Termos.</p>

<p>A 99Taxis se resguarda no direito de realizar alterações/atualizações nos Termos, a qualquer momento, sem aviso prévio e a simples utilização dos Aplicativos após alteração/atualização dos Termos importa em concordância com os mesmos. Caso o Usuário não concorde com as alterações, deverá cancelar sua conta, e cessar toda e qualquer utilização dos Aplicativos. Na ausência de manifestação entender-se-á que o Usuário aceitou tacitamente os Termos e o Contrato continuará vinculando as partes. Recomendamos que o Usuário reveja os Termos com frequência para estar a par de quaisquer atualizações.</p>

<h4 class="text-center">Cadastro</h4>

<p>Os usuários que desejam utilizar os Aplicativos precisam obrigatoriamente preencher os campos de cadastro e fornecer informações válidas e corretas. Seu número de telefone será confirmado pela 99Taxis e, em caso de não confirmação, a utilização dos Aplicativos será bloqueada a exclusivo critério da 99Taxis.</p>

<p>As informações do cadastro são de exclusiva responsabilidade de quem as inseriu. No caso de acarretarem danos ou prejuízo de qualquer espécie, sanções legais podem ser tomadas pela 99Taxis a fim de resguardar seus interesses e a integridade dos outros usuários do sistema.</p>

<h4 class="text-center">Objeto</h4>

<p>O sistema 99Taxis (incluindo o Aplicativo, o Website e outras plataformas como “Facebook” e websites de terceiros) consiste em uma plataforma que otimiza o contato inicial entre “Motoristas” e “Passageiros”.</p>

<p>Pela plataforma, a 99Taxis permite que Passageiros devidamente cadastrados localizem e contatem Motoristas em sua região para solicitar diretamente e exclusivamente a prestação dos Serviços de Transporte.</p>

<p>Os Motoristas, por sua vez, utilizam a plataforma como um canal alternativo de contato com Passageiros que desejam contratar seus serviços.</p>

<p>O contato entre Motoristas e Passageiros pode se dar por mensagens já escritas que são disponibilizadas pelo sistema 99Taxis e não estão sujeitas à cobrança.</p>

<p>Os Passageiros podem também optar por enviar sms ou ligar para os Motoristas, opções nas quais estarão sujeitos ao pagamento das tarifas de sua operadora de celular.</p>

<h4 class="text-center">Do Pagamento</h4>

<p>A 99Taxis disponibilizará em seus Aplicativos um link de acesso ao site da “PayPal” e, ao clicar no link, o Usuário poderá criar uma conta PayPal ou fazer login em sua conta já existente. Ao finalizar o processo de pagamento, o Usuário autoriza a 99Taxis a fazer o débito do valor da corrida em sua conta PayPal.</p>

<p>Caso não seja possível que ocorra o débito do valor da corrida na conta PayPal do Usuário por qualquer razão, a 99Taxis gerará um título de cobrança e poderá utilizar de todo e qualquer meio extrajudicial ou judicial visando ao recebimento do valor inadimplido pelo Usuário.</p>

<p>Caso o Usuário opte por realizar o pagamento utilizando “Cartão de crédito”, ele fornecerá seus dados nos Aplicativos e esses dados serão enviados ao Adquirente que é o responsável pela liquidação financeira da transação.</p>

Limitações de Responsabilidade

<p>A 99Taxis não presta serviços de transporte ou agenciamento, apenas concede licença de uso de software que serve como ferramenta facilitadora de contato inicial entre Passageiros e Motoristas. Quaisquer defeitos, perdas ou danos relativos ao serviço de táxi são de responsabilidade exclusiva dos Motoristas e Passageiros.</p>

<p>O Usuário reconhece e concorda que a 99Taxis não realiza seleção de Motoristas, não fiscaliza sua atividade, não atesta sua idoneidade, nem a sua capacidade legal, física ou mental para prestar os serviços de transporte. O Usuário está ciente de que os dados do Motorista divulgados pela 99Taxis, incluindo, mas não se limitando a isto, seu nome completo, modelo e placa do veículo, foram fornecidos pelo próprio Motorista. Ao aceitar a prestação dos serviços de transporte pelo Motorista, o Usuário reconhece que a 99Taxis não possui qualquer participação na relação contratual estabelecida entre Motorista e Passageiro.</p>

<h4 class="text-center">Assim sendo, a 99Taxis não se responsabiliza:</h4>

<p>Pelos serviços de transporte contratados pelos Usuários por meio da utilização do Aplicativo e do Website;
pela qualidade e segurança dos Usuários dos Aplicativos, incluindo o condutor do táxi e os Passageiros, em virtude da corrida de táxi contratada;
pela disponibilidade do sistema;
por erros ou inconsistências no fornecimento de informações relativas ao geoposicionamento (GPS) e aos mapas, que são produzidas por terceiros e integradas ao Aplicativo somente para trazer mais conveniência ao Usuário;
pela recuperação de itens que passageiros alegam ter esquecido no táxi, nem pelo ressarcimento de valores referentes aos mesmos. Todo e qualquer esforço no sentido de auxiliar o passageiro a reaver os itens é de opção da empresa.</p>

<h4 class="text-center">Propriedade Intelectual</h4>

<p>As marcas, nomes, logotipos, nomes de domínio e demais sinais distintivos, bem como todo e qualquer conteúdo, desenho, arte ou layout publicado nos Aplicativos, são de propriedade exclusiva da 99Taxis.</p>

<p>São vedados quaisquer atos ou contribuições tendentes à descompilação, engenharia reversa, modificação das características, ampliação, alteração, mesclagem ou incorporação em quaisquer outros programas ou sistemas. Enfim, toda e qualquer forma de reprodução, total ou parcial, permanente, temporária ou provisória, de forma gratuita ou onerosa, sob quaisquer modalidades, formas ou títulos dos Aplicativos é expressamente vedada.</p>

<h4 class="text-center">Sanções</h4>

<p>O uso dos Aplicativos 99Taxis de forma indevida em desacordo a estes Termos implicará a exclusão do cadastro do Usuário e a proibição da utilização dos serviços. Seus dados serão preservados para uso das autoridades competentes, caso a 99Taxis seja notificada ou acionada pela violação de direitos de terceiros decorrente do mau uso do sistema.</p>

<p>O Usuário concorda em indenizar a 99Taxis, suas filiais, empresas controladas ou controladoras, diretores, administradores, colaboradores, representantes e empregados por qualquer perda, responsabilização, reclamação ou demanda, por quaisquer prejuízos devido a, ou resultantes da, sua utilização dos Aplicativos.</p>

<p>O Usuário está ciente de que, caso cancele três corridas consecutivas, terá seu cadastro bloqueado por 24 (vinte e quatro) horas para solicitar qualquer táxi utilizando os Aplicativos da 99Taxis, o que não se aplica apenas às corridas corporativas.</p>

<p>Se o Usuário possuir qualquer pendência relativa a corridas anteriores, não poderá solicitar nova corrida por qualquer meio disponível para tanto, até a regularização do débito.</p>

<h4 class="text-center">Política de Privacidade</h4>

<p>A 99Taxis pode recolher, gravar e utilizar em conexão com outros sites e parceiros as informações pessoais do Usuário, incluindo, mas não se limitando a, nome, foto, endereço, número de telefone, interesses, atividades, sexo e idade.</p>

<p>A 99Taxis se resguarda no direito de gravar seu IP, tipo de navegador, aparelho e operadora de celular, posição geográfica e outros dados relativos às corridas solicitadas.</p>

<p>A 99Taxis não divulga publicamente nem a terceiros suas informações de modo que possam identificá-lo, mas pode fazê-lo de forma agregada no intuito de realizar análises, estudos, melhoria do sistema e por força de ordem judicial.</p>

<p>Quando se tratar de corrida corporativa, a divulgação de informações do Usuário e da corrida será divulgada à empresa Contratante dos serviços.</p>

<p>A 99Taxis está fortemente comprometida em manter a sua privacidade quando estiver visitando o nosso site. Algumas das informações mantidas no nosso servidor são informações que o Usuário se prontifica a fornecer através de formulários, enquanto que algumas são obtidas automaticamente. A menos que o próprio Usuário se prontifique a apresentar dados pessoais, a 99Taxis nunca coletará informações com base nas quais Usuários individuais possam ser identificados.</p>

<h4 class="text-center">Informações Automaticamente Coletadas e Armazenadas</h4>

<p>O “Servidor” da 99Taxis coleta automaticamente informações não pessoais. As informações normalmente coletadas incluem o nome de domínio de seu provedor de acesso à internet, o endereço do protocolo de internet (IP) utilizado para conectar o computador do Usuário à internet, o tipo e versão do browser do Usuário, o sistema operacional e plataforma, o tempo médio gasto nos Aplicativos, as páginas visitadas, as informações procuradas, os horários de acesso e outras estatísticas relevantes. A 99Taxis emprega todas essas informações para mensurar o uso de seus sites, bem como para administrá-los e aperfeiçoá-los.</p>

<p>Algumas das páginas da 99Taxis também podem depositar certas parcelas de informações, chamadas “cookies” (biscoitos), no computador do Usuário. De modo geral, um “cookie” cede um número único ao Usuário, número este que não tem nenhum significado fora do site cedente. Essa tecnologia não coleta informações identificadoras de um Usuário individual, apresentando tais informações apenas de forma global. Essa tecnologia e as informações oferecidas através dela têm por objetivo aperfeiçoar a navegação nos Aplicativos da 99Taxis. A maioria dos web browsers permite ao Usuário rejeitar ou aceitar a característica “cookie”. Entretanto, é importante notar que os cookies são necessários para lhe oferecer certas características (por exemplo, entrega customizada de informações) disponíveis no Website da 99Taxis. Para mais informações sobre os cookies, acessar http://www.microsoft.com/info/cookies.htm.</p>

<p>Informações pessoais a serem fornecidas pelo Usuário, a critério dele</p>

<p>Para o recebimento de serviços personalizados, o Usuário terá de fornecer informações pessoais (tais como nome e endereço eletrônico). Nenhuma consequência significativa resultará de sua recusa em apresentar tais informações, exceto o fato de que o Usuário não poderá obter a funcionalidade ou receber as informações que vier a solicitar.</p>

<p>Ao encaminhar os dados pessoais à 99Taxis, o Usuário será tratado como tendo dado sua permissão para o processamento de seus dados pessoais, conforme estabelecido nestes Termos.</p>

<p>A 99Taxis somente utilizará informações pessoais para os fins que lhe forem indicados na ocasião do seu fornecimento.</p>

<p>A 99Taxis não divulgará, venderá ou alugará essas informações de identificação pessoal a qualquer outra organização ou entidade, ou as permutará com elas, sem antes ter comunicado o Usuário e este ter dado seu consentimento expresso nesse sentido, ou conforme exigido por lei e por força de ordem judicial, com exceção das corridas corporativas.</p>

<p>A avaliação do Taxista e do carro feita pelo Usuário é confidencial e não será divulgada ao taxista, exceto por ordem judicial.</p>

<p>A 99Taxis reserva-se o direito de alterar a presente política a qualquer tempo. A política de privacidade não cria nenhum direito contratual ou outro direito legal com relação a qualquer parte ou em nome da mesma.</p>

<p>Este Website pode conter links a outros web sites. A presente declaração de privacidade não abrange os referidos sites, não podendo a 99Taxis ser responsabilizada pelas práticas de privacidade ou pelo conteúdo desses outros sites.</p>


      
    </div>
</ion-content>
</ion-modal-view>










